h1 {
  color: black;
  border-style: solid;
  border-color: black;
  font-size: 45px;
}

h2 {
  color: blue;
  font-size: 27px;
}

p {
  color:black;
  font-size: 20px;
}

* {
  font-family: 'Macondo', cursive;
}
